.sidebar {
    width: 260px;
    background-color: color('surface');
    border-right: 1px solid bgopacity(0.1);
    height: 100vh;
    position: fixed;
    padding: 2rem 1.5rem;
    flex-direction: column;
    z-index: zlayer('nav');
    display: none;

    @include mq('md') {
        display: flex;
    }

    &__header {
        margin-bottom: 3rem;
    }

    &__logo {
        font-family: $font-heading;
        font-weight: bold;
        font-size: 1.5rem;

        .dot {
            color: color('secondary');
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0.8rem 1rem;
        color: color('text-muted');
        border-radius: 12px;
        transition: all 0.3s;

        &:hover, &--is-active {
            background: rgba(color('primary'), 0.1);
            color: color('text');
        }

        &--logout {
            margin-top: auto;
            color: color('danger');

            &:hover {
                background: rgba(color('danger'), 0.1);
            }
        }
    }

    &__spacer {
        height: 3px;
        background: bgopacity(0.1);
        border-radius: 100%;
    }
}