// Paleta de Colores
$color-primary: #6402aa;
$color-secondary: #e495a2;
$color-dark: #000;
$color-light: #fff;
$color-text: #4e4a4a;

// Tipografía
$font-stack: 'Inter', sans-serif;

// Espaciado
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;