@font-face {
    font-family: 'go3v2';
    src: url('../assets/fonts/go3v2.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background-color: #f9f8f6;
    font-family: 'Inter', sans-serif;
    position: relative;
}

.header {
    height: 80px;
    background-color: #f7f5f2;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    position: relative;
    padding: 128px 0;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    /* font-family: 'go3v2'; */
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 72px;
    font-family: 'Cormorant Garamond', serif;
    line-height: 0.9;
    margin-bottom: 8px;
}

h3 {
    font-size: 48px;
    font-family: 'Cormorant Garamond', serif;
    line-height: 0.9;
    margin-top: 16px;
}

h4 {
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    line-height: 0.9;
}

h5 {
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    line-height: 0.9;
}

nav ul {
    display: flex;
    gap: 32px;
}

ul li {
    list-style: none;
}

ul li a {
    color: #7c736a;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.container {
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    z-index: 2;
}


/* Section Hero */
.hero {
    width: 100vw;
    height: 100vh;
    background: url('../assets/img/hero-fashion.jpg');
    background-size: cover;
    background-position: top;
    padding: 0;
}

.hero-gradient {
    position: absolute;
    background: linear-gradient(70deg, #f4f2ea 50%, #c4ac88 70%, transparent);
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.top-title {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #7c736a;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.subtitle {
    max-width: 448px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #7c736a;
    line-height: 28px;
}

.hero-actions {
    display: flex;
    gap: 17px;
    margin-top: 16px;
}

.btn {
    height: 48px;
    padding: 12px 36px;
    border: 1px solid #1c1a17;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-explorer {
    background: #1c1a17;
    color: #F9F8F6;
}

.btn-rounded {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
}

.btn-view:hover {
    background: #1c1a17;
    color: #F9F8F6;
}

/* Section Category */
.category header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category .container,
.featured .container {
    height: auto;
}

.category header,
.featured header {
    margin-bottom: 64px;
}

/* Section Featured */
.featured {
    background-color: #f4f3f0;
}

.featured header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.featured .container-card {
    gap: 10px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.card-featured {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    width: 429px;
    height: 572px;
    overflow: hidden;
    position: relative;
}

.card-featured .card {
    width: 326px;
    height: 421px;
    margin-bottom: 15px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.card:hover img {
    transform: scale(1.05);
}

.card-content {
    position: absolute;
    left: 35px;
    bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #F9F8F6;
    z-index: 2;
}

.card-featured .card-content {
    width: calc(100% - 20px);
    left: 10px;
    bottom: 10px;
}

.card-featured .card-content .btn {
    width: 100%;
    font-size: 10px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.3s;
}

.card-featured:hover .card-content .btn {
    transform: translateY(0);
    opacity: 1;
}

.card-featured:hover .btn-rounded {
    opacity: 1;
}

.card-content .top-title {
    color: #F9F8F6BF;
}

.card-content a {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    color: #F9F8F6;
    text-decoration: none;
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.3s;
}

.card:hover .card-content a {
    transform: translateY(0);
    opacity: 1;
}

.gradient-content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #01010169 80%);
    z-index: 1;
}

.price {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}