@import 'utils/variables';
@import 'utils/mixins';

@import 'base/reset';

@import 'components/buttons';
@import 'components/card';

.header {
    text-align: center;

    &__title {
        font-size: 40px;
        color: $color-dark;
    }
}