@import "tailwindcss";

@theme {
    --color-primary: #6366F1;
    --color-primary-dark: #4F46E5;
    --color-surface: #F8FAFC;

    --font-sans: 'Inter', systeim-ui, sans-serif;
}

body {
    background-color: var(--color-surface);
    font-family: var(--font-sans);
}