@import "tailwindcss";

@theme {
    --color-primary: oklch(0.5854 0.2041 277.12); /* #6366f1 */
    --color-primary-dark: oklch(0.5106 0.2301 276.97); /* #4F46E5 */
    --color-surface: oklch(0.9842 0.0034 247.86); /* #F8FAFC; */

    --text-xxs: 10px;

    --font-sans: 'Inter', systeim-ui, sans-serif;
}

body {
    background-color: var(--color-surface);
    font-family: var(--font-sans);
}