@use "sass:map";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: map.get($colors, "bg");
    color: map.get($colors, "text");
    font-family: $font-body;
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}