@use "sass:map";

@function color($option) {
    @return map.get($colors, $option);
}

@function zlayer($option) {
    @return map.get($z-layers, $option);
}

@function bgopacity($option) {
    @return rgba(255, 255, 255, $option);
}