@use "sass:map";

// Media query -- Esto lo utilizamos para la responsividad
@mixin mq($size) {
    @media (min-width: map.get($breakpoints, $size)) {
        @content
    }
};

// Efecto Cristal
@mixin glass {
    background: bgopacity(0.03);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid bgopacity(0.1);
}

// Efecto Gradiente (Texto)
@mixin text-gradient {
    background: linear-gradient(90deg, color('secondary'), color('primary'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}