* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    width: 80%;
    justify-content: center;
    align-items: center;
}

section {
    margin-bottom: 100px;
}