@import 'utils/variables';
@import 'utils/mixins';

@import 'base/reset';

@import 'components/buttons';
@import 'components/marquee';
@import 'components/sidebar';
@import 'components/tables';

@import 'layouts/header';
@import 'layouts/hero';
@import 'layouts/features';
@import 'layouts/footer';
@import 'layouts/auths';
@import 'layouts/dashboard'


