.section {
    padding: 5rem 0;

    &__header {
        text-align: center;
        margin-bottom: 4rem;
    }

    &__title {
        font-size: 2.5rem;
        font-family: $font-heading;
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    &__subtitle {
        color: color('text-muted');
    }
}

.bento-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    @include mq('lg') {
        grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(2, 250px);
    }
}

.bento-card {
    background: bgopacity(0.02);
    border: 1px solid bgopacity(0.05);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.3s;

    &:hover {
        background: bgopacity(0.05);
        border: 1px solid bgopacity(0.2);
    }

    &__icon {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: color('primary');

        &--lg {
            @include mq('lg') {
                font-size: 7rem;
            }
        }
    }

    &__title {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    &__desc {
        color: color('text-muted');
        font-size: 0.9rem;
    }

    &--large {
        @include mq('lg') {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

    &--wide {
        @include mq('lg') {
            grid-column: span 3;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: normal;
        gap: 0.8rem;
        
        @include mq('lg') {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__snippet {
        background: black;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        font-family: monospace;
        color: color('secondary');
        font-size: 0.8rem;
    }
}