.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: zlayer('nav');
    padding: 1rem 0;
    background: rgba(color('bg'), 0.8);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid bgopacity(0.05);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: $font-heading;
        font-size: 1.5rem;
        font-weight: 700;

        .dot {
            color: color('secondary');
        }
    }

    &__toggle {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;

        @include mq('md') {
            display: none;
        }
    }

    &__menu {
        // Mobile First
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: color('bg');
        padding: 0;
        text-align: center;
        overflow: hidden;
        transition: all 0.4s ease-out;
        border-bottom: 1px solid bgopacity(0.1);
        z-index: 0;

        &.is-active {
            height: auto;
            padding: 2rem;
        }

        // Estilos Desktop (Sobrescribimos los de mobile)
        @include mq('md') {
            position: static;
            transform: none;
            background: none;
            padding: 0;
            width: auto;
            height: auto;
            border: none;
            display: flex;
            align-items: center;
            gap: 2rem;
        }
    }

    &__link:hover {
         color: color('secondary');
    }
}